*{
	margin: 10px;
	background-color: black;}

h1{
	display: flex;
	justify-content: center;
	align-content: center;
	color: white;
}
.css{
	display: flex;
	justify-content: center;
	align-content: center;
}
.javascript{
	display: flex;
	justify-content: center;
	align-content: center;
}
a{
  width: 100px;
  background-color: blue;
  border-radius: 20px;
  border-color: yellow;
  text-decoration: none;
  font: sans-serif;
  color: white;
  padding: 50px;
  margin: 20px;
}

a:hover{
	color: yellow;
}