
* {
  margin-left: 300px;
  margin-top: 150px;
}

.div {
  width: 100px;
  height: 20px;
  background-color: grey;
  margin: 6px 0;
  position: relative;
  border-radius: 5px;
}

.div::before{
	content: '';
	width: 100px;
  	height: 20px;
  	background-color: grey;
  	margin: 6px 0;
  	position: absolute;
  	bottom: 20px;
  	border-radius: 5px;
}

.div::after{
	content: '';
	width:100px;
  	height: 20px;
  	background-color: grey;
  	margin: 6px 0;
  	position: absolute;
  	top: 20px;
  	border-radius: 5px;

}
